span.blink {
  font-size: 20px;
  padding-right: 20px;
  display: inline-block;
}

span.blink:after {
  content: '';
  width: 10px;
  height: 20px;
  background: #ff66ff;
  opacity: 0;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}